*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    min-height: 100vh;
    color: orange;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.big1-img{
    background: url(.././images/big2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.small-img{
    background: url(.././images/big1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.big2-img{
    background: url(.././images/big2.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
}